## Clase 1

In [4]:
print("hola mundo")

hola mundo

In [6]:
mi_nombre = "Nava Villegas Kevin Francisco"

In [7]:
print(mi_nombre)

Nava Villegas Kevin Francisco

In [9]:
mi_edad = 20
mi_correo = "kevinnava021@aragon.unam.mx"
mi_altura = 1.73

In [10]:
print (mi_edad)
print (mi_correo)
print (mi_altura)

20
kevinnava021@aragon.unam.mx
1.73

In [11]:
valor_1 = 35
valor_2 = 10

In [12]:
valor_1+valor_2

45

In [13]:
suma = valor_1+valor_2

In [14]:
print(suma)

45

In [15]:
resta = valor_1-valor_2
multiplicacion = valor_1*valor_2
division = valor_1/valor_2

In [16]:
print(resta)

25

In [17]:
print(multiplicacion)

350

In [18]:
print(division)

3.5

In [19]:
print(resta,multiplicacion,division)

25 350 3.5

## Format

In [23]:
valor_1 = input('Dame un valor')

In [24]:
print(valor_1)

20

In [25]:
valor_1*3

'202020'

In [27]:
valor_1 = int(input('Dame un valor'))

In [28]:
print(valor_1)
valor_1*3

20

60

In [29]:
valor_1 = int(input('Dame un valor 1'))
valor_2 = int (input('Dame un valor 2'))

In [33]:
suma = valor_1 + valor_2
print( f'La suma de {valor_1} y {valor_2} = {suma}')

La suma de 35 y 10 = 45

## Condicionales Simples

In [39]:
35 >= 42

False

In [35]:
20 <= 15

False

In [36]:
55 >= 54

True

In [37]:
22 <= 22

True

In [38]:
5 == 5

True

## Condicionales Avanzadas

In [ ]:
if 1.60 > 1.20:
    print("Puedes pasar")
else:
    print("No puedes pasar")